@model PermissionsViewModel
@{
    ViewBag.Title = "Permissions";
}

@section HeaderSection {
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList })
    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.TreeList })
}

@section Breadcramps{
    <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i> @ViewBag.Title</a></li>
    </ol>
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <a href="#" class="btn btn-flat btn-default" id="add-new" title="Add new permission"><i class="fa fa-plus"></i></a>
                <button class="btn btn-flat btn-default" id="collapse-all-nodes" title="Collapse all nodes"><i class="fa fa-caret-right"></i></button>
                <button class="btn btn-flat btn-default" id="expand-all-nodes" title="Expand all nodes" disabled="disabled"><i class="fa fa-caret-down"></i></button>
                <div class="box-tools pull-right">

                </div>
            </div>
            <div class="box-body">
                @Html.Partial("_PermissionsTree", Model.TreeViewModel)
            </div>
        </div>
    </div>
</div>

@section FooterSection {
    <script src="~/Areas/Admin/Content/scripts/Permission/Index.js"></script>
}
