/*--------- Icons -----------*/


.fa-minus-circle,
.fa-trash-o {
    color: #d9534f;
}

.fa-pencil {
    color: rgb(239, 239, 15);
}

.fa-pencil-square {
    color: #13aa66;
}

.fa-check-circle,
.fa-plus {
    color: green;
}

.fa-check {
    color: rgb(10, 190, 53);
}

.fa-user {
    color: rgb(7, 139, 142)
}

.fa-book {
    color: rebeccapurple
}

.fa-handshake-o {
    color: chocolate;
}
/*--------- End Icons -----------*/

/*--------- ToolTip -----------*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*--------- End ToolTip -----------*/


