@model UsersViewModel
@{
    ViewBag.Title = "Users";
}

@section HeaderSection {
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView })
    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })
}

@section Breadcramps{
    <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i> @ViewBag.Title</a></li>
    </ol>
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <a href="#" class="btn btn-flat btn-default" id="add-new" title="Add new user"><i class="fa fa-plus"></i></a>
                <div class="box-tools pull-right">

                </div>
            </div>
            <div class="box-body">
                @Html.Partial("_UsersGrid", Model.GridViewModel)
            </div>
        </div>
    </div>
</div>

@section FooterSection {
    <script src="~/Areas/Admin/Content/scripts/Users/Index.js"></script>
}
